.centro
{
text-align: center;
}


.container{
display: flex; 
}

.child{
width: 600% ;
height: 100px;
background-color: blueviolet;
display: flex;
justify-content: space-around;
align-items: center;
}

#bloco-de-cadastro{
width: 400px;
margin:auto;
margin-top: 25px
}

.box {
width:90%;
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
text-align: justify;
border-color: #000;
border-radius: 5px;
text-emphasis: #000;
width: 100%;
height: 45px;
margin-bottom: 5px;
}

#estilo{
align-content:center;
margin:auto}

.cadastro {
color: blueviolet;
}

.cadastro
{
font-size: large;
font-family: Arial, Helvetica, sans-serif;
}

.botao
{
width:90%;
font-family: Arial, Helvetica, sans-serif;
font-size: large;
text-align: justify;
border-color: rgb(255, 255, 255);
border-radius: 10px;
text-emphasis: rgb(255, 255, 255);
width: 101.4%;
height: 55px;
margin-bottom: 10px;
background-color:blueviolet
}


.botao{
text-align: center;
color: rgb(255, 255, 255);
}
.robot{
display: flex;
justify-content: space-around;
align-items: center;
}